<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
  xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <?define ProductName = "Rikugan"?>
  <?define ProductVersion = "1.0.0"?>
  <?define ProductManufacturer = "Nick Vissari"?>
  <?define UpgradeCode = "736D0C70-C780-4F21-9134-57C05B52D112"?>

  <Product Id="*"
    Name="$(var.ProductName)"
    Language="1033"
    Version="$(var.ProductVersion)"
    Manufacturer="$(var.ProductManufacturer)"
    UpgradeCode="$(var.UpgradeCode)">

    <Package InstallerVersion="500"
      Compressed="yes"
      InstallScope="perMachine"
      Description="$(var.ProductName) Installer"
      Comments="Remote management and monitoring agent" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <!-- Properties for configuration - Secure allows them to be passed from command line -->
    <Property Id="SERVER_URL" Secure="yes" />
    <Property Id="AGENT_TOKEN" Secure="yes" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />

    <!-- Features -->
    <Feature Id="ProductFeature" Title="Rikugan Agent" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="DataFolderComponents" />
    </Feature>

    <!-- License file for the license agreement dialog -->
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />

    <!-- Custom UI with configuration dialog -->
    <UI Id="CustomInstallUI">
      <UIRef Id="WixUI_Common" />

      <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
      <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />

      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
      <Property Id="WixUI_Mode" Value="InstallDir" />

      <DialogRef Id="BrowseDlg" />
      <DialogRef Id="DiskCostDlg" />
      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="FatalError" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="MsiRMFilesInUse" />
      <DialogRef Id="PrepareDlg" />
      <DialogRef Id="ProgressDlg" />
      <DialogRef Id="ResumeDlg" />
      <DialogRef Id="UserExit" />
      <DialogRef Id="LicenseAgreementDlg" />

      <!-- Dialog flow: Welcome -> License -> InstallDir -> ServerConfig -> VerifyReady -->
      <Publish Dialog="BrowseDlg" Control="OK" Event="DoAction" Value="WixUIValidatePath" Order="3">
        1</Publish>
      <Publish Dialog="BrowseDlg" Control="OK" Event="SpawnDialog" Value="InvalidDirDlg" Order="4"><![CDATA[WIXUI_INSTALLDIR_VALID<>"1"]]></Publish>

      <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>

      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="LicenseAgreementDlg">NOT
        Installed</Publish>
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg">Installed
        AND PATCH</Publish>

      <Publish Dialog="LicenseAgreementDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg">1</Publish>
      <Publish Dialog="LicenseAgreementDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg">LicenseAccepted
        = "1"</Publish>

      <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="LicenseAgreementDlg">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="Next" Event="SetTargetPath"
        Value="[WIXUI_INSTALLDIR]" Order="1">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="Next" Event="DoAction" Value="WixUIValidatePath"
        Order="2">NOT WIXUI_DONTVALIDATEPATH</Publish>
      <Publish Dialog="InstallDirDlg" Control="Next" Event="SpawnDialog" Value="InvalidDirDlg"
        Order="3"><![CDATA[NOT WIXUI_DONTVALIDATEPATH AND WIXUI_INSTALLDIR_VALID<>"1"]]></Publish>
      <Publish Dialog="InstallDirDlg" Control="Next" Event="NewDialog" Value="ServerConfigDlg"
        Order="4">WIXUI_DONTVALIDATEPATH OR WIXUI_INSTALLDIR_VALID="1"</Publish>
      <Publish Dialog="InstallDirDlg" Control="ChangeFolder" Property="_BrowseProperty"
        Value="[WIXUI_INSTALLDIR]" Order="1">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="ChangeFolder" Event="SpawnDialog" Value="BrowseDlg"
        Order="2">1</Publish>

      <Publish Dialog="ServerConfigDlg" Control="Back" Event="NewDialog" Value="InstallDirDlg">1</Publish>
      <Publish Dialog="ServerConfigDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>

      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="ServerConfigDlg"
        Order="1">NOT Installed</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg"
        Order="2">Installed AND NOT PATCH</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">Installed
        AND PATCH</Publish>

      <Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog"
        Value="MaintenanceTypeDlg">1</Publish>

      <Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog"
        Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog"
        Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog"
        Value="MaintenanceWelcomeDlg">1</Publish>
    </UI>

    <!-- Custom dialog for server configuration -->
    <UI>
      <Dialog Id="ServerConfigDlg" Width="370" Height="270" Title="!(loc.InstallDirDlg_Title)">
        <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes"
          NoPrefix="yes" Text="{\WixUI_Font_Title}Server Configuration" />
        <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15"
          Transparent="yes" NoPrefix="yes" Text="Enter the Rikugan server connection details." />
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no"
          Text="!(loc.InstallDirDlgBannerBitmap)" />
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />

        <Control Id="ServerURLLabel" Type="Text" X="20" Y="60" Width="100" Height="15"
          NoPrefix="yes" Text="Server URL:" />
        <Control Id="ServerURLEdit" Type="Edit" X="20" Y="75" Width="330" Height="18"
          Property="SERVER_URL" Text="{200}" />
        <Control Id="ServerURLHelp" Type="Text" X="20" Y="95" Width="330" Height="15" NoPrefix="yes"
          Text="Example: http://server.example.com:8080" />

        <Control Id="AgentTokenLabel" Type="Text" X="20" Y="120" Width="100" Height="15"
          NoPrefix="yes" Text="Agent Token:" />
        <Control Id="AgentTokenEdit" Type="Edit" X="20" Y="135" Width="330" Height="18"
          Property="AGENT_TOKEN" Text="{200}" />
        <Control Id="AgentTokenHelp" Type="Text" X="20" Y="155" Width="330" Height="15"
          NoPrefix="yes" Text="The authentication token from your Rikugan server." />

        <Control Id="AgentIDLabel" Type="Text" X="20" Y="180" Width="100" Height="15" NoPrefix="yes"
          Text="Agent ID (optional):" />
        <Control Id="AgentIDEdit" Type="Edit" X="20" Y="195" Width="330" Height="18"
          Property="AGENT_ID" Text="{100}" />
        <Control Id="AgentIDHelp" Type="Text" X="20" Y="215" Width="330" Height="15" NoPrefix="yes"
          Text="Leave blank to auto-generate a unique ID." />

        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17"
          Text="!(loc.WixUIBack)" />
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes"
          Text="!(loc.WixUINext)" />
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes"
          Text="!(loc.WixUICancel)">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>
      </Dialog>
    </UI>

    <UIRef Id="WixUI_ErrorProgressText" />

  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <!-- Executable in Program Files -->
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="Rikugan" />
      </Directory>
      <!-- Data in ProgramData -->
      <Directory Id="CommonAppDataFolder">
        <Directory Id="DATAFOLDER" Name="Rikugan">
          <Directory Id="STATEFOLDER" Name="state" />
          <Directory Id="SYNCFOLDER" Name="sync" />
          <Directory Id="LOGSFOLDER" Name="logs" />
        </Directory>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="MainExecutable" Guid="11111111-1111-1111-1111-111111111111" Win64="yes">
        <File Id="RikuganExe"
          Source="$(var.BuildDir)\rikugan.exe"
          KeyPath="yes" />

        <ServiceInstall Id="ServiceInstaller"
          Type="ownProcess"
          Name="RikuganAgent"
          DisplayName="Rikugan Agent"
          Description="Remote management and monitoring agent service"
          Start="auto"
          Account="LocalSystem"
          ErrorControl="normal"
          Arguments="-agent -server-url &quot;[SERVER_URL]&quot; -token &quot;[AGENT_TOKEN]&quot; -agent-data-dir &quot;[DATAFOLDER]&quot;">
          <ServiceDependency Id="Tcpip" />
        </ServiceInstall>

        <ServiceControl Id="StartService"
          Start="install"
          Stop="both"
          Remove="uninstall"
          Name="RikuganAgent"
          Wait="yes" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="DataFolderComponents">
      <Component Id="StateFolder" Guid="33333333-3333-3333-3333-333333333333" Win64="yes"
        Directory="STATEFOLDER">
        <CreateFolder />
      </Component>

      <Component Id="SyncFolder" Guid="44444444-4444-4444-4444-444444444444" Win64="yes"
        Directory="SYNCFOLDER">
        <CreateFolder />
      </Component>

      <Component Id="LogsFolder" Guid="66666666-6666-6666-6666-666666666666" Win64="yes"
        Directory="LOGSFOLDER">
        <CreateFolder />
      </Component>
    </ComponentGroup>
  </Fragment>

</Wix>